/*#box-products {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    margin: 10px;
    padding: 16px; 
    gap:10px;
}
.product-item {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 50px; 

}
*/
#root{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 80px;
}
.link-cart{
    margin: 20px;
}
.title-page-products{
    margin: 30px;
}
.product-image{
    width: 250px;
    cursor:pointer;
}
.product-image:hover{
    transform: scale(1.1); 
}

@media (min-width: 500px) {  
    #box-products{
        margin-top: -20px;
    }
    #root{
        overflow-x: hidden;

    }
}