.description {
    text-align: center;
    margin-bottom: 10px;
}
  
.price {
    color: rgb(25, 10, 234);
    text-align: center;
    margin-bottom: 20px;
}
h5{
    font-size: 1em;
} 

.product-image{
    width: 250px;
    cursor:pointer;
}
@media (min-width: 500px) {  
    .description,
    .price {
        font-size: 1em;
    }
  }